@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: Whip;
    src: url("fonts/Whipsmart.ttf");
}

h1 {
    font-family: Whip;
    padding: 0px;
    padding-bottom: .1em;
    margin: 0px;
    margin-bottom: .3em;
    border-bottom: 1px dotted #BAB9BD;
}

#storybook h1 {
    font-family: Whip;
    text-align: center;
    border-bottom: none;
}


#table {
    float: left;
}

#toc {
    padding: 0px;
    margin-top: 0px;
}

#toc li {
    font-family: Roboto;
    font-size: 1.1em;
    color: #5C5C5C;
    list-style-type: none;
    padding: .5em;
    border-bottom: 1px dotted #BAB9BD;
}

#toc li:hover {
    color: #141414;
    text-shadow: 0px 1px 1px #000000;
    cursor: pointer;
}

.active {
    color: #141414;
    text-shadow: 0px 1px 1px #000000;
}

.seen {
    font-style:oblique !important;
}

.subtext {
    display: inline-block;
    padding: .3em;
    margin:; .2em;
    margin-right: .5em;
    font-style: oblique;
    color: #BAB9BD;
    font-size: .8em;
}

#storybook div {
    display: none;
    float: left;
    width: 50%;
    margin-left: 5em;
    word-spacing: .2em;
    font-size: 1.2em;
}

#storybook .show {
    display: block;
    font-family: Roboto;
}

.quote {
    font-style:oblique;
}

#moral {
    font-family: Arial;
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: .9em;
}