@font-face {
    font-family: "whipsmart";
    src: url("media/fonts/Whipsmart.ttf");
}

#table {
    float: left;
}

h2 {
    font-family: whipsmart;
    padding:0px;
    margin: 0px;
    margin-bottom: .1em;
    border-bottom: 1px dotted #BAB9BD;
}

#toc {
    margin-top: 0px;
    padding: 0;
}

#toc li {
    list-style-type: none;
    padding: .5em;
    border-bottom: 1px dotted #BAB9BD;
    font-size: 1.1em;
    font-family: Arial;
    color: #5C5C5C;
}

#toc li:hover {
    border-bottom: 1px dotted #A8A8A8;
    color: #141414;
    cursor: pointer;
}

.subtext {
    display: inline-block;
    padding: .3em;
    margin:; .2em;
    margin-right:.5em;
    font-style: oblique;
    color: #BAB9BD;
    font-size: .8em;
}